/*Layout*/

html, body, #home{ /*Definindo Altura Padrão dos Elementos*/
    height: 100%;
    overflow-x: hidden; /* Serve para esconder a barra de rolagem na parte de Baixo */
}

body {
    background: url(../Image/capa.png),
                url(../Image/ruido.png),
                linear-gradient(50deg,#ff4169,#7c26f8); /*Faz o msm efeito do photshop de camadas de imagens (Com degradee)*/
    background-attachment: fixed; /*Mantem um bacground fixo */
            }

/*Barra de Navegação 👍*/

nav.navbar-transparente {
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
}

.divisor { /* Barrinha braca, que divide "Baixar" e "Entrar" */
    width: 1px;
    background: white;
    margin: 12px 15px;
}

.navbar-light .navbar-nav .nav-link { /* Resgatando a cor da fonte do JQuery, para mudar de cinza para Branco */
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #09c738;
}

.navbar-light .navbar-toggler {  /* Alterando as cores do Hamburguer/Caixa do Mobile */
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
    font-family: Helvetica, Arial, sans-serif;
}



.capa {
    text-align: center;
}


.btn-custom {
    color: white;
    border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-roxo {
    background: #7c25f8;
}

.btn-roxo:hover {
    background: #6207e3;
    color: white;
}

.btn-branco {
    border: 2px solid white;
}

.btn-branco:hover {
    background: white;
    color: black;
}


/* Formatação para Serviços */
.caixa {
    padding-top: 20px;
    padding-bottom: 20px;
}

#servicos {
    background: white;

}

#servicos h2,h3 {
    color: #7c25f8;
}

.albuns {
    padding: 10px 0;
}

/* Formatação para Recursos */
#recursos{
    color: white
}

#recursos h2,h3 {
    color: #7c25f8;
}

#recursos h2 {
    color: white ;
}

#recursos h3 {
    color: #9bf0e1;
}

.rotacionar {
    transform: rotate(30deg);
    padding-left: 80px;
}

/* Footer */

footer {
    background: #000;
    padding: 50px 0px 20px 0;
    position: relative;
}

footer h4{
    color: #919496;
    font-size: 0.9em;
    text-transform: uppercase;
}

footer .navbar-nav a {
 color: white;
 font-size: 0.8em;
}

footer .navbar-nav a:hover {
    color: #09c738;
    text-decoration: none;
   }

footer ul {
    list-style: none;
}

footer ul li{
    float: right;
    margin: 0 5px;
}

/*Tipografia*/

h1 {
    font-weight: 900; /* Deixa a fonte mais grossa ou fina */   
    letter-spacing: -0.05em; /* Deixa a fonte colada */
    margin-bottom: 50px;    /* Margin da Linha de baixo */
    color: white;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}



/* Resolução com Jquery */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .btn-custom {
        margin: 10px 15px;
    }
    h1 {
        font-size: 2.5em;
       }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .btn-custom {
        margin: 10px 15px;
    }
    h1 {
     font-size: 3em;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    h1 {
        font-size: 4em;
       }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    h1 {
        font-size: 5em;
       }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    h1 {
        font-size: 6em; /* Conforme a resolução do dispositivo ele vai aumentando o tamanho da letra*/
       }
 }